DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_LOG_LEVEL=INFO
DJANGO_SECURE_SSL_REDIRECT=1
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=1
DJANGO_SECURE_HSTS_PRELOAD=1
DRF_PAGE_SIZE=20
DRF_THROTTLE_ANON=60/minute
DRF_THROTTLE_USER=240/minute
DB_NAME=groupmanager_db
DB_USER=groupmanager_user
DB_PASSWORD=ChangeMe_2025!
