{% load i18n %}{% autoescape off %}{% blocktranslate with username=user.get_username %}Bonjour {{ username }},{% endblocktranslate %}

{% blocktranslate %}Vous recevez cet email car une demande de réinitialisation de mot de passe a été faite pour votre compte Kotiza sur {{ domain }}.{% endblocktranslate %}

{% translate "Pour choisir un nouveau mot de passe, ouvrez le lien suivant :" %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% translate "Si vous n'êtes pas à l'origine de cette demande, ignorez simplement cet email : votre mot de passe restera inchangé." %}

{% translate "L'équipe Kotiza" %}
{% endautoescape %}
